<div class="card-layout">
    <div class="cartao">
        <img src="{{ bandeira }}" alt="{{ altBandeira }}" class="bandeira"> |
        <p class="nome-bandeira"> {{ nomeBandeira }} </p>
        <p class="numero-cartao"> {{ numeroCartao }} </p>
    </div>

    <div class="btn">
        <app-black-round-button blackRoundButton="{{ blackRoundButtonDelete }}"></app-black-round-button>
        <app-black-round-button blackRoundButton="{{ blackRoundButtonStandard }}"></app-black-round-button>
    </div>

</div>