.modal-overlay {
    z-index: 1000;
}

.modal-content {
    width: 70vw;
    height: 85vh;
}

.modal-main {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.imagem {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.imagem.hidden {
    opacity: 0;
    pointer-events: none;
}

.imagem img {
    border: 2px dashed var(--cinza);
    border-radius: 1rem;
    max-width: 15vw;
    min-height: 15vh;
    width: 100%;
    height: auto;
}

.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000; /* Maior que modal principal */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-modal-content {
  position: relative;
  background-color: transparent;
  padding: 0;
  border-radius: 8px;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
   align-items: center;
   
}

.image-wrapper {
  position: relative;
  max-width: 40vw;   /* limite máximo de largura */
  max-height: 40vw;  /* limite máximo de altura */
  width: 70%;        /* ocupa 100% do container pai (ou pode usar inline-block e ajustar) */
  height: auto;       /* altura automática */
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.enlarged-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 10px;
}


.close-btn {
    position: absolute;
    top: -35px;
    right: -30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.lado {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}