.login-container {
    width: 100vw;
    height: 100vh;

    background-color: var(--cinza);
    
    display: flex;
}

.right {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: var(--cinza);
}

.center {
    color: var(--branco);
    
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

h2 {
    font-size: 2rem;
}

h2, p {
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}

span {
    color: var(--laranja);

    cursor: pointer;
}

.left {
    width: 50%;

    background-image: url("/assets/images/background-dark.svg");
    background-position: 50% 50%; 
    background-size: 110%;
}

.blur {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(2px);
}