<footer>
    <app-logo title="LOGOLOGO"></app-logo>

    <div class="infos">
        <h2 routerLink="/em-contrucao">Contato</h2>
        <h2 routerLink="/em-contrucao">Politicas de privacidade</h2>
    </div>

    <div class="redes">
        <h3>Nos siga nas redes:</h3>

        <div class="sociais">
            <div class="bi bi-facebook"></div>
            <div class="bi bi-instagram"></div>
            <div class="bi bi-twitter-x"></div>
        </div>
    </div>

    <hr>

    <p>&#64;2025 Todos os direitos reservados.</p>
</footer>