<app-admin-layout>
    <header>
        <h1>LogOut</h1>

        <div class="settings">
            <i class="bi bi-bell" routerLink="/notificacoes"></i>

            <div class="profile">
                <i class="bi bi-person-circle"></i>

                <div class="text">
                    <p>Nicole</p>
                    <p>nicole.lins&#64;logologo.com</p>
                </div>
            </div>
        </div>
    </header>

    <div class="logout">
        
    </div>
</app-admin-layout>