.password-input {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.password-container {
    width: 100%;
}

/* Estilos para o tema claro */
.tema-claro label {
    text-transform: capitalize;
    color: var(--cinza);
}

.tema-claro input {
    padding: 0 .5rem;
    color: var(--cinza);
    height: 3rem;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--cinza-claro);
    border-radius: .5rem;
}

.tema-escuro label {
    text-transform: capitalize;
    color: var(--branco);
}

.tema-escuro input {
    padding: 0 .5rem;
    color: var(--branco);
    height: 3rem;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--cinza-claro);
    border-radius: .5rem;
}