.password-input {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.password {
    display: flex;
}

.password button {
    display: flex;
    align-items: center;
}

.tema-claro label {
    text-transform: capitalize;
    color: var(--cinza);
}

.tema-claro input {
    padding: 0 .5rem;

    color: var(--cinza);
    
    height: 3rem;
    width: 95%;
    
    background-color: transparent;
    
    border: 2px solid var(--cinza-claro);
    border-radius: .5rem 0 0 .5rem;
    border-right: none;
}

.tema-claro button {
    display: flex;
    background-color: transparent;
    height: 3rem;
    width: 5%;
    
    padding-right: 1rem;
    
    font-size: 1rem;
    color: var(--cinza);
    
    border: 2px solid var(--cinza-claro);
    border-radius: 0 .5rem .5rem 0;
    border-left: none;
}

.tema-escuro label {
    text-transform: capitalize;
    color: var(--branco);
}

.tema-escuro input {
    padding: 0 .5rem;

    color: var(--branco);
    
    height: 3rem;
    width: 95%;
    
    background-color: transparent;
    
    border: 2px solid var(--cinza-claro);
    border-radius: .5rem 0 0 .5rem;
    border-right: none;
}

.tema-escuro button {
    background-color: transparent;
    height: 3rem;
    width: 5%;

    padding-right: 1rem;
    
    font-size: 1rem;
    color: var(--branco);
    
    border: 2px solid var(--cinza-claro);
    border-radius: 0 .5rem .5rem 0;
    border-left: none;
}