<div class="password-input {{ tema }}">
    <label for="passwordInput">{{ label }}</label>
    <div class="password {{ tema }}">
        <input 
            type="password" 
            name="password" 
            id="passwordInput" 
            placeholder="{{ password }}"
        >
        <button 
            type="button" 
            class="bi bi-eye-slash" 
            id="togglePassword"
        ></button>
    </div>
</div>

<script>
document.getElementById('togglePassword').addEventListener('click', function() {
    const input = document.getElementById('passwordInput');
    this.classList.toggle('bi-eye');
    this.classList.toggle('bi-eye-slash');
    input.type = input.type === 'password' ? 'text' : 'password';
});
</script>