<app-header></app-header>

<main>
    <h1>Novidades</h1>

    <section class="novidades">
        <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa1" alt="Camisa 1" preco="250,99"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa2" alt="Camisa 2" preco="145,00"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/shorts1" alt="Shorts 1" preco="80,90"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa1" alt="Camisa 1" preco="250,99"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa2" alt="Camisa 2" preco="145,00"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/shorts1" alt="Shorts 1" preco="80,90"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa1" alt="Camisa 1" preco="250,99"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa2" alt="Camisa 2" preco="145,00"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/shorts1" alt="Shorts 1" preco="80,90"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa1" alt="Camisa 1" preco="250,99"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa2" alt="Camisa 2" preco="145,00"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/shorts1" alt="Shorts 1" preco="80,90"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa1" alt="Camisa 1" preco="250,99"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa2" alt="Camisa 2" preco="145,00"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/shorts1" alt="Shorts 1" preco="80,90"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa1" alt="Camisa 1" preco="250,99"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/camisa2" alt="Camisa 2" preco="145,00"></app-product-box>
            <app-product-box routerLink="/em-contrucao" caminhoImagem="assets/images/shorts1" alt="Shorts 1" preco="80,90"></app-product-box>
    </section>
</main>

<app-footer></app-footer>