<div class="tabela">
    <table>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Senha</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            @for (admin of listarAdmins; track admin){
            <tr>
                <th class="id">{{admin.id}}</th>
                <th class="nome">{{admin.nome}}</th>
                <th class="nome">{{admin.sobrenome}}</th>
                <th class="email">{{admin.email}}</th>
                <th class="senha">{{admin.senha}}</th>
                <th><i class="bi bi-info-circle" (click)="abrirModalInformacoesUsuarioAberto(admin)"></i></th>
                <th><i class="bi bi-pencil-square" (click)="abrirModalAterarUsuarioAberto(admin)"></i></th>
                <th><i class="bi bi-trash3" (click)="abrirModalExclusaoUsuarioAberto()"></i></th>
            </tr>

            <app-confirm-action [isOpen]="modalExclusaoUsuarioAberto" (closed)="fecharModalExclusaoUsuario()"
                fundo="fundo-claro" title="Excluir Usuário">
                <p>Tem certeza que deseja excluir este usuário?</p>

                <div class="espaco">
                    <app-button-action cor="lilas" (click)="fecharModalExclusaoUsuario()">
                        Cancelar
                    </app-button-action>
                    <app-button-action cor="laranja" (click)="fecharModalExclusaoUsuario(); excluir(adminSelecionado.id!)">
                        Excluir
                    </app-button-action>
                </div>
            </app-confirm-action>
            }
        </tbody>
    </table>
</div>

<app-info-users fundo="fundo-escuro" [somenteLeitura]="true" [isOpen]="modalInformacoesUsuarioAberto"
    (closed)="fecharModalInformacoesUsuario()" titulo="Informações do Usuário" [(valorInputNome)]="adminSelecionado.nome" [(valorInputSobrenome)]="adminSelecionado.sobrenome" [(valorInputEmail)]="adminSelecionado.email" [(valorInputSenha)]="adminSelecionado.senha">
    <div class="espaco">
        <app-button-action (click)="fecharModalInformacoesUsuario()" cor="lilas">
            Fechar
        </app-button-action>
    </div>
</app-info-users>

<app-info-users fundo="fundo-escuro" [isOpen]="modalAterarUsuarioAberto" (closed)="fecharModalAterarUsuario()"
    titulo="Alterar usuário" [(valorInputNome)]="adminSelecionado.nome" [(valorInputSobrenome)]="adminSelecionado.sobrenome" [(valorInputEmail)]="adminSelecionado.email" [(valorInputSenha)]="adminSelecionado.senha">
    <div class="espaco">
        <app-button-action (click)="fecharModalAterarUsuario()" cor="lilas">
            Fechar
        </app-button-action>
        <app-button-action (click)="abrirModalConfirmarAlteracaoUsuarioAberto()" cor="laranja">
            Alterar
        </app-button-action>
    </div>
</app-info-users>

<app-confirm-action fundo="fundo-escuro" [isOpen]="modalConfirmarAlteracaoUsuarioAberto"
    (closed)="fecharModalConfirmarAlteracaoUsuario()" title="Usuário alterado">
    <p>Usuário alterado com sucesso!</p>

    <div class="espaco">
        <app-button-action cor="lilas" (click)="fecharModalConfirmarAlteracaoUsuario(); fecharModalAterarUsuario()">
            fechar
        </app-button-action>
    </div>
</app-confirm-action>

<!-- tem que estar dentro do @for posteriormente -->



<!-- integrar modal de erro posteriormente -->

<app-confirm-action fundo="fundo-escuro" [isOpen]="modalErroUsuarioAberto" (closed)="fecharModalErroUsuario()"
    title="Erro ao alterar">
    <p>Preencha todos os campos antes de alterar o usuário.</p>

    <div class="espaco">
        <app-button-action cor="vermelho" (click)="fecharModalErroUsuario()">
            fechar
        </app-button-action>
    </div>
</app-confirm-action>