button {
    width: 12vw;
    height: 2.5rem;

    text-align: center;
    text-transform: capitalize;
    color: var(--branco);
    font-weight: bold;

    border-radius: .5rem;

    transition: .5s;
}

.laranja {
    background-color: var(--laranja);
}

.lilas {
    background-color: var(--lilas);
}

button:hover,
button:focus {
    background-color: var(--cinza);
}