button {
    padding: 1rem 0;
    width: 10rem;
    background-color: var(--branco);

    text-transform: uppercase;

    border: 1px solid var(--cinza);
    border-radius: 50px;
}

button:hover {
    background-color: var(--cinza-claro);
}