.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--branco);
    padding: 1rem;

    border-radius: 1rem;
}

.modal-header h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
