.admin {
    display: flex;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-color: var(--lilas);
}

main {
    background-color: var(--branco-fumaca);

    width: 89vw;
    height: 95vh;

    padding: 2rem;

    border-radius: 2.5rem;
}