.notifications {
    border-radius: .5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10vh;
    width: 99%;
}

.icon {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
}

.content {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border-radius: 0 .5rem .5rem 0;

    background-color: var(--branco);
}

.content h3 {
    font-size: 1.2rem;

    margin-bottom: 0;
}

.content,
.espaco {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.espaco {
    gap: .5rem;

    color: var(--cinza-medio);
}

.bi-x-circle {
    font-size: 2rem;

    cursor: pointer;

    transition: .5s;
}

.bi-x-circle:hover {
    color: var(--laranja);
}

.vermelho {
    background-color: var(--notifications-vermelho);
}

.borda-vermelha {
    border: 2px solid var(--notifications-vermelho);
}

.azul {
    background-color: var(--notifications-azul);
}

.borda-azul {
    border: 2px solid var(--notifications-azul);
}

.amarelo {
    background-color: var(--notifications-amarelo);
}

.borda-amarelo {
    border: 2px solid var(--notifications-amarelo);
}

.verde {
    background-color: var(--notifications-verde);
}

.borda-verde {
    border: 2px solid var(--notifications-verde);
}