<div class="product-box">
    <img src="{{ caminho }}.png" alt="{{ alt }}">

    <div class="info-product">
        <div class="avaliacao">
            <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </div>

            5.0/5
        </div>

        <h3 class="preco">
            $ {{ preco }}
        </h3>
    </div>  
</div>