.register-input {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.tema-escuro label {
    text-transform: capitalize;
    color: var(--branco);
}

.tema-escuro input {
    padding: .5rem;

    color: var(--branco);

    background-color: transparent;

    border: 2px solid var(--cinza-claro);
    border-radius: .5rem;
}

.tema-claro label {
    text-transform: capitalize;
    color: var(--cinza);
}

.tema-claro input {
    padding: .5rem;

    color: var(--cinza);

    background-color: transparent;

    border: 2px solid var(--cinza-claro);
    border-radius: .5rem;
}