<main class="users">
  <div class="header">
    <div class="input">
      <input type="text" name="pesquisarUsuario" id="pesquisarUsuario" [(ngModel)]="textoBuscaUsuarios"
        (input)="filtrarUsuarios()" placeholder="Digite o nome de um usuário..." />
      <button class="bi bi-search" (click)="filtrarUsuarios()"></button>
    </div>

    <i class="bi bi-bell" routerLink="/notificacoes"></i>

    <div class="profile">
      <i class="bi bi-person-circle"></i>

      <div class="text">
        <p>{{ usuarioLogado?.nome }}</p>
        <p>{{ usuarioLogado?.email }}</p>
      </div>
    </div>
  </div>

  <div class="cabecalho-tabela">
    <h2>Usuários</h2>

    <div class="controller">
      <button (click)="abrirModalCadastrarUsuario()">
        <i class="bi bi-plus-circle"></i>
        Adicionar novo usuário
      </button>
    </div>
  </div>

  <app-table-users [listaAdmins]="listaAdmins"></app-table-users>
</main>

<app-info-users fundo="fundo-escuro" titulo="Cadastrar Usuário" [isOpen]="modalCadastrarUsuarioAberto"
  (closed)="fecharModalCadastrarUsuario()" [(valorInputNome)]="admin.nome" [(valorInputSobrenome)]="admin.sobrenome"
  [(valorInputEmail)]="admin.email" [(valorInputSenha)]="admin.senha">
  <div class="espaco">
    <app-button-action (click)="fecharModalCadastrarUsuario()" cor="lilas">
      Fechar
    </app-button-action>

    <app-button-action (click)="submeter()" cor="laranja">
      Cadastrar
    </app-button-action>
  </div>
</app-info-users>

<app-confirm-action fundo="fundo-escuro" [isOpen]="modalConfirmarCadastroUsuarioAberto"
  (closed)="fecharModalConfirmarCadastroUsuario()" title="Usuário cadastrado">
  <p>
    Usuário <span>{{ admin.nome + " " + admin.sobrenome }}</span> cadastrado com
    sucesso!
  </p>

  <div class="espaco">
    <app-button-action cor="lilas" (click)="
        fecharModalConfirmarCadastroUsuario(); fecharModalCadastrarUsuario()
      ">
      Fechar
    </app-button-action>
  </div>
</app-confirm-action>

<app-confirm-action fundo="fundo-escuro" [isOpen]="modalErroUsuarioAberto" (closed)="fecharModalErroUsuario()"
  title="Erro ao alterar">
  <p>Preencha todos os campos antes de cadastrar um usuário.</p>

  <div class="espaco">
    <app-button-action cor="vermelho" (click)="fecharModalErroUsuario()">
      fechar
    </app-button-action>
  </div>
</app-confirm-action>