button {
    text-transform: uppercase;

    padding: 1rem 0;
    width: 15rem;
    background-color: var(--cinza);

    color: var(--branco);
    font-weight: bold;

    border-radius: .3rem;

    transition: .5s;
}

button:hover {
    background-color: var(--laranja-claro);

    color: var(--cinza);
}