main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.row-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    width:90%;
}

.novidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
