<app-header></app-header>

<main>
    <app-list-products></app-list-products>

    <app-carosel></app-carosel>

    <div class="row-btns">
        <app-black-square-button routerLink="/em-contrucao"
            blackSquareButton="troca e devolução"></app-black-square-button>
        <app-black-square-button routerLink="/em-contrucao" blackSquareButton="cupom"></app-black-square-button>
        <app-black-square-button routerLink="/em-contrucao"
            blackSquareButton="acompanhar pedido"></app-black-square-button>
    </div>

    <div class="novidades">
        <h2>Novidades</h2>
        <div class="products-box">
            @for (produto of listaProdutos; track produto) {
            <app-product-box routerLink="/em-contrucao" caminhoImagem="{{ produto.imagem }}"
                alt="imagem do produto {{ produto.nome }}" preco="{{ produto.preco }}"></app-product-box>
            }
        </div>

        <app-white-round-button routerLink="/novidades" whiteRoundButtonText="veja mais"></app-white-round-button>
    </div>
</main>



<app-footer></app-footer>