<app-header></app-header>

<main>
    <app-list-products></app-list-products>
    
    <app-carosel></app-carosel>

    <div class="row-btns">
        <app-black-square-button blackSquareButton="troca e devolução"></app-black-square-button>
        <app-black-square-button blackSquareButton="cupom"></app-black-square-button>
        <app-black-square-button blackSquareButton="acompanhar pedido"></app-black-square-button>
    </div>

    <div class="novidades">
        <h2>Novidades</h2>
        <div class="products-box">
            <app-product-box caminho="assets/images/camisa1" alt="Camisa 1" preco="250,99"></app-product-box>
            <app-product-box caminho="assets/images/camisa2" alt="Camisa 2" preco="145,00"></app-product-box>
            <app-product-box caminho="assets/images/shorts1" alt="Shorts 1" preco="80,90"></app-product-box>
        </div>

        <app-white-round-button routerLink="/novidades" whiteRoundButtonText="veja mais"></app-white-round-button>
    </div>
</main>



<app-footer></app-footer>