.list-categories {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;


    text-transform: uppercase;
    font-weight: bold;
    color: var(--cinza);
}

ul {
    margin-bottom: 0;
}

.list-categories li {
    cursor: pointer;

    transition: .5s;
}

.list-categories li:hover {
    color: var(--laranja);
}