.home {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.input {
    display: flex;
    width: 100%;
}

.input input {
    height: 3rem;
    width: 100%;
    padding: 0 1rem;

    color: var(-cinza);

    border: none;
    outline: none;
    border-radius: 50px 0 0 50px;

    background-color: var(--branco);
}

.input button {
    border-radius: 0 50px 50px 0;

    background-color: var(--branco);
    height: 3rem;
    width: 3rem;

    transition: .5s;
}

.input button:hover {
    background-color: var(--laranja);
}

i {
    font-size: 2rem;

    transition: .5s;
}

.header i:hover {
    color: var(--laranja);
}

.profile {
    display: flex;
    gap: 1rem;

    transition: .5s;
}

.profile:hover {
    color: var(--laranja);
}

.text p {
    margin-bottom: 0;
}

.cabecalho-tabela{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-tabela h2 {
    font-size: 2rem;

    margin-bottom: 0;
}

.controller {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.mostrar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.mostrar input {
    background-color: var(--branco);

    padding: .5rem .5rem;

    border: none;
    border-radius: .5rem;
}

.mostrar h3 {
    margin-bottom: 0;
    font-size: 1rem;
}

.mostrar input {
    width: 4em;
    height: 100%;

    outline: none;
}

.controller button {
    background-color: var(--laranja);

    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;

    border-radius: .5rem;

    transition: .5s;
}

.controller button:hover {
    background-color: var(--cinza);

    color: var(--branco);
}

.espaco {
    display: flex;
    gap: 1rem;
}