<main class="home">
        <div class="header">
            <div class="input">
                <input type="text" name="pesquisar" id="pesquisar" placeholder="Digite o nome de um produto...">
                <button class="bi bi-search"></button>
            </div>

            <i class="bi bi-bell" routerLink="/notificacoes"></i>

            <div class="profile">
                <i class="bi bi-person-circle"></i>

                <div class="text">
                    <p>Nicole</p>
                    <p>nicole.lins&#64;logologo.com</p>
                </div>
            </div>
        </div>

        <div class="cabecalho-tabela">
            <h2>Produtos</h2>

            <div class="controller">
                <div class="mostrar">
                    <h3>Mostrar</h3>
                    <input type="number" name="numero" id="numero" value="10">
                </div>

                <button (click)="abrirModalCadastrarProduto()">
                    <i class="bi bi-plus-circle"></i>
                    Adicionar novo produto
                </button>
            </div>
        </div>

        <app-table></app-table>
</main>

<app-confirm-action [isOpen]="modalConfirmarCadastro" (closed)="fecharModalConfirmarCadastro()" title="Produto cadastrado">
    <p>Produto cadastrado com sucesso!</p>

    <div class="espaco">
        <app-button-action cor="lilas" (click)="fecharModalConfirmarCadastro()">
            Fechar
        </app-button-action>
    </div>
</app-confirm-action>

<app-info-product [isOpen]="modalCadastrarProduto" (closed)="fecharModalCadastrarProduto()" title="Cadastrar Produto"
    produtoImagem=""
    valorInputNome=""
    valorTextArea=""
    quantidadeEstoque="" tamanhoProduto="" precoProduto="">
    <div class="espaco">
        <app-button-action (click)="fecharModalCadastrarProduto()" cor="lilas">
            Fechar
        </app-button-action>

        <app-button-action (click)="abriModalConfirmarCadastro()" cor="laranja">
            Cadastrar
        </app-button-action>
    </div>
</app-info-product>