.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav {
    padding: 1rem 7rem;
    background-color: var(--cinza);
}

.logo {
    color: var(--laranja);

    cursor: pointer;
}