.tabela {
    width: 100%;
    overflow-x: auto;
    max-height: 67vh;
    overflow-y: auto;

    border-radius: 1rem;

    background-color: var(--branco);
}

table {
    border-collapse: collapse;
    width: 100%;

}

thead {
    position: sticky;
    top: 0;

    color: var(--branco);

    background-color: var(--cinza);
}

thead th {
    border-bottom: 1px solid var(--cinza);
    padding: 1rem 0;
    text-align: center;
    
}

tbody th {
    border-bottom: 1px solid var(--cinza);
    padding: 8px;
    text-align: center;
    font-weight: normal;
    
}

.table-image {
    width: 2rem;
    height: 2rem;

    border: 1px solid var(--cinza);
    border-radius: 50%;
}

tbody tr th i {
    cursor: pointer;

    font-size: 1.5rem;

    transition: .5s;
}

tbody tr th i:hover {
    color: var(--laranja);
}

.nome, .descricao {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10rem;
}

.espaco {
    display: flex;
    gap: 1rem;
    
}

.msg-nenhum-produto {
  text-align: center;      
  vertical-align: middle;  
  height: 50px;           
  background-color: #ffe5e5;
  color: #b30000;
  font-weight: bold;
  padding: 1rem 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;

}





