<div class="tabela">
    <table>
        <thead>
            <th class="ident">ID</th>
            <th>Imagem</th>
            <th>Nome do produto</th>
            <th>Descrição</th>
            <th>Quantidade no estoque</th>
            <th>Tamanho</th>
            <th>Preço</th>
            <th></th>
            <th></th>
            <th class="qfinal"></th>
        </thead>

        <tbody>

            <tr>
                <th>1</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th (click)="openInfoModal()"><i class="bi bi-info-circle"></i></th>
                <th (click)="openInfoModal()"><i class="bi bi-pencil-square"></i></th>
                <th (click)="openConfirmModal()"><i class="bi bi-trash3"></i></th>
            </tr>
            <!--
            <tr>
                <th>2</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            <tr>
                <th>3</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            <tr>
                <th>4</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            <tr>
                <th>5</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            <tr>
                <th>6</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            <tr>
                <th>7</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            <tr>
                <th>8</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            <tr>
                <th>9</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            <tr>
                <th>10</th>
                <th><i class="bi bi-image"></i></th>
                <th>Camisa</th>
                <th class="descricao">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, impedit quasi
                    atque non
                    quisquam laborum aliquam repellat placeat dignissimos, quo cupiditate mollitia omnis ab eum
                    accusantium minus harum velit. Quisquam.</th>
                <th>
                    5544
                </th>
                <th>GG</th>
                <th>5156</th>
                <th><i class="bi bi-info-circle"></i></th>
                <th><i class="bi bi-pencil-square"></i></th>
                <th><i class="bi bi-trash3"></i></th>
            </tr>
            -->
        </tbody>
    </table>
</div>

<app-confirm-action [isOpen]="modalConfirmIsOpen" (closed)="onConfirmModalClosed()" title="Excluir produto">
    <p>Tem certeza que deseja excluir este produto?</p>
</app-confirm-action>

<app-info-product [isOpen]="modalInfoIsOpen" (closed)="onInfoModalClosed()" title="Informações do Produto">
    <div class="espaco">
        <app-button-action (click)="onInfoModalClosed()" cor="lilas">
            Fechar
        </app-button-action>

        <app-button-action (click)="openConfirmModal()" cor="laranja">
            Cadastrar
        </app-button-action>
    </div>
</app-info-product>