<div class="tabela">
    <table>
        <thead>
            <th>ID</th>
            <th>Imagem</th>
            <th>Nome do produto</th>
            <th>Descrição</th>
            <th>Quantidade no estoque</th>
            <th>Tamanho</th>
            <th>Preço</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>

        <tbody>
            @for (produto of listaProdutos; track produto) {
            <tr>
                <th> {{produto.id}} </th>
                <th><i class="bi bi-image"></i> {{ produto.imagem }} </th>
                <th> {{ produto.nome }} </th>
                <th class="descricao"> {{ produto.descricao }} </th>
                <th> {{ produto.quantidade }} </th>
                <th> {{ produto.tamanho }} </th>
                <th>R$ {{ produto.preco }}</th>
                <th (click)="abrirModalInformacoes()"><i class="bi bi-info-circle"></i></th>
                <th (click)="abrirAlterarProduto()"><i class="bi bi-pencil-square"></i></th>
                <th (click)="abrirModalExclusao()"><i class="bi bi-trash3"></i></th>
            </tr>
            }
        </tbody>
    </table>
</div>

<app-confirm-action [isOpen]="modalExclusaoAberto" (closed)="fecharModalExclusao()" title="Excluir produto">
    <p>Tem certeza que deseja excluir este produto?</p>

    <div class="espaco">
        <app-button-action cor="lilas" (click)="fecharModalExclusao()">
            Cancelar
        </app-button-action>
        <app-button-action cor="laranja" (click)="fecharModalExclusao()">
            Excluir
        </app-button-action>
    </div>
</app-confirm-action>

<app-info-product [isOpen]="modalInformacoesAberto" (closed)="fecharModalInformacoes()"  title="Informações do Produto"
    produtoImagem="https://acdn-us.mitiendanube.com/stores/002/037/298/products/r8tpgs9-69611169236149a31516521949612638-1024-1024.jpg"
    valorInputNome="Conjunto"
    valorTextArea="Lorem ipsum dolor sit amet consectetur adipisicing elit. At numquam possimus ipsam beatae magnam! Consectetur dolor, fugit officia deserunt, dolorum exercitationem dolorem impedit obcaecati nihil sapiente velit, porro accusantium. Rem?"
    quantidadeEstoque="125447" tamanhoProduto="EXGG" precoProduto="125,36">
    <div class="espaco">
        <app-button-action (click)="fecharModalInformacoes()" cor="lilas">
            Fechar
        </app-button-action>
    </div>
</app-info-product>

<app-confirm-action [isOpen]="modalConfirmarAlteracaoAberto" (closed)="fecharConfirmarAlteracaoProduto()" title="Produto alterado">
    <p>Produto alterado com sucesso!</p>

    <div class="espaco">
        <app-button-action cor="lilas" (click)="fecharConfirmarAlteracaoProduto()">
            fechar
        </app-button-action>
    </div>
</app-confirm-action>

<app-info-product [isOpen]="modalAlterarProdutoAberto" (closed)="fecharAlterarProduto()"  title="Alterar Produto"
    produtoImagem="https://acdn-us.mitiendanube.com/stores/002/037/298/products/r8tpgs9-69611169236149a31516521949612638-1024-1024.jpg"
    valorInputNome="Conjunto"
    valorTextArea="Lorem ipsum dolor sit amet consectetur adipisicing elit. At numquam possimus ipsam beatae magnam! Consectetur dolor, fugit officia deserunt, dolorum exercitationem dolorem impedit obcaecati nihil sapiente velit, porro accusantium. Rem?"
    quantidadeEstoque="125447" tamanhoProduto="EXGG" precoProduto="125,36">
    <div class="espaco">
        <app-button-action (click)="fecharAlterarProduto()" cor="lilas">
            Fechar
        </app-button-action>
        <app-button-action (click)="abrirConfirmarAlteracaoProduto()" cor="laranja">
            Alterar
        </app-button-action>
    </div>
</app-info-product>