<app-admin-layout>
    <h1>Notificações</h1>

    <div class="notifications">
        <app-notifications borderColorClass="borda-vermelha" bgColorClass="vermelho" IconType="bi bi-x-circle-fill" textNotification="Não foi possivel excluir esse produto"></app-notifications>

        <app-notifications borderColorClass="borda-azul" bgColorClass="azul" IconType="bi bi-info-circle-fill" textNotification="Você logou"></app-notifications>

        <app-notifications borderColorClass="borda-amarelo" bgColorClass="amarelo" IconType="bi bi-exclamation-triangle-fill" textNotification="Não foi possivel alterar"></app-notifications>

        <app-notifications borderColorClass="borda-verde" bgColorClass="verde" IconType="bi bi-check-circle-fill" textNotification="Produto alterado"></app-notifications>
        
        <app-notifications borderColorClass="borda-vermelha" bgColorClass="vermelho" IconType="bi bi-x-circle-fill" textNotification="Não foi possivel excluir esse produto"></app-notifications>

        <app-notifications borderColorClass="borda-azul" bgColorClass="azul" IconType="bi bi-info-circle-fill" textNotification="Você logou"></app-notifications>

        <app-notifications borderColorClass="borda-amarelo" bgColorClass="amarelo" IconType="bi bi-exclamation-triangle-fill" textNotification="Não foi possivel alterar"></app-notifications>

        <app-notifications borderColorClass="borda-verde" bgColorClass="verde" IconType="bi bi-check-circle-fill" textNotification="Produto alterado"></app-notifications>
        
        <app-notifications borderColorClass="borda-vermelha" bgColorClass="vermelho" IconType="bi bi-x-circle-fill" textNotification="Não foi possivel excluir esse produto"></app-notifications>

        <app-notifications borderColorClass="borda-azul" bgColorClass="azul" IconType="bi bi-info-circle-fill" textNotification="Você logou"></app-notifications>

        <app-notifications borderColorClass="borda-amarelo" bgColorClass="amarelo" IconType="bi bi-exclamation-triangle-fill" textNotification="Não foi possivel alterar"></app-notifications>

        <app-notifications borderColorClass="borda-verde" bgColorClass="verde" IconType="bi bi-check-circle-fill" textNotification="Produto alterado"></app-notifications>
        
        <app-notifications borderColorClass="borda-vermelha" bgColorClass="vermelho" IconType="bi bi-x-circle-fill" textNotification="Não foi possivel excluir esse produto"></app-notifications>

        <app-notifications borderColorClass="borda-azul" bgColorClass="azul" IconType="bi bi-info-circle-fill" textNotification="Você logou"></app-notifications>

        <app-notifications borderColorClass="borda-amarelo" bgColorClass="amarelo" IconType="bi bi-exclamation-triangle-fill" textNotification="Não foi possivel alterar"></app-notifications>

        <app-notifications borderColorClass="borda-verde" bgColorClass="verde" IconType="bi bi-check-circle-fill" textNotification="Produto alterado"></app-notifications>
    </div>


</app-admin-layout>